<div class="container">
  <div class="row ">
    <%= image_tag @sum_fun >= 100 ? "https://pbs.twimg.com/media/Con7IcNVIAAx6Nk.jpg"
    : image_path('jurumy'), class: "main-img"  %>
  </div>

  <div class="row">
    <h2>전체 흥 <%= @sum_fun %>/100 <h2>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow= "<%= @sum_fun  %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @sum_fun %>%">
            <span class="sr-only">10% Complete (success)</span>
          </div>
        </div>
  </div>

  <div class="row">
    <h4>파티참여자 목록</h4>
  </div>

  <div class="row">
    <% @visitors.each do |v| %>
      <div class="col-md-2 panel panel-default center">
        <% if v.picture != nil %>
          <%= image_tag "#{v.picture}", size:"50"%>
        <% else %>
          <%= image_tag Faker::Avatar.image, size: "50" %>
        <% end %>
        <h3><%=v.name %></h3>
        <h3>흥 : <%= v.fun %></h3>
        <%= link_to "추방", visitor_path(v), method: 'delete', class: "btn btn-primary", style: "margin-bottom:10px" %>
        <%= link_to "바꾸기", edit_visitor_path(v), class: "btn btn-primary disabled", style: "margin-bottom:10px" %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <%= link_to "초대", new_visitor_path, class: "btn btn-primary btn-row", style: "margin-bottom:10px" %>
  </div>
</div><!-- end of container -->
